<div id="about" class="summary clearfix">
  <div class="container">
    <div class="row text-center">
      <h2 class="text-uppercase">Vem är jag?</h2>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 pull-right">
        <div class="about-image text-center">
          <img src="{{ site.url }}/assets/images/avatar.png" class="img-circle" />
        </div>
        {% include twitter.html %}
      </div>

      <div class="col-xs-12 col-sm-7 pull-right">
        <h3>Aaron Wong</h3>
        <p>
          En kreativ utvecklare med mål om att lära mig så mycket som möjligt.
        </p>

        <p>Nuvarande fokus</p>
        <ul>
          <li>Home automation</li>
          <li>Django rest framework</li>
          <li>AngularJS</li>
          <li>Fotografering</li>
        </ul>
      </div>
    </div>
  </div>
</div>
