<script type="text/javascript">
  var onloadCallbacks  = function() {
    grecaptcha.render('grecaptcha', {
      'sitekey' : '',
      'callback': function(response) {
        console.log(response);
      },
      'theme': 'dark'
    });
  };
</script>

<div id="contact" class="summary clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Kontakta mig</h3>
      </div>

      <div class="col-xs-12">
        <form name="sendmail" role="form" class="row sendmail" method="post">
          <input type="hidden" data-ng-value="token"></input>

          <div class="col-sm-6" data-ng-show="!success">
            <p class="form-group has-feedback" data-ng-class="{'has-error': ((token || sendmail.name.$touched) && !name) }">
              <input type="text" class="form-control" data-ng-model="name" name="name" placeholder="Ditt namn" data-ng-required="true"></input>
            </p>
            <p class="form-group has-feedback" data-ng-class="{'has-error': ((token || sendmail.mail.$touched) && !mail) }">
              <input type="email" class="form-control has-feedback" data-ng-model="mail" name="mail" placeholder="Ditt epost" data-ng-required="true"></input>
            </p>
            <p>
              <div data-ng-show="hasErrors" class="ng-hide">
                <div class="alert alert-danger alert-dismissable">
                  <strong>Fält saknas</strong> Fyll i alla fält innan du skickar
                </div>
              </div>
            </p>
            <p>
              <div data-ng-show="error" class="ng-hide">
                <div class="alert alert-danger alert-dismissable">
                  <strong>Fel</strong> Något gick snett, meddelandet skickades inte ...
                </div>
              </div>
            </p>
          </div>

          <div class="col-sm-6" data-ng-show="!success">
            <p class="form-group has-feedback" data-ng-class="{'has-error': ((token || sendmail.subject.$touched) && !subject) }">
              <input type="text" class="form-control has-feedback" data-ng-model="subject" name="subject" placeholder="Vad handlar ditt meddelande om?" data-ng-required="true"></input>
            </p>
            <p class="form-group has-feedback" data-ng-class="{'has-error': ((token || sendmail.message.$touched) && !message) }">
              <textarea class="form-control" rows="8" data-ng-model="message" name="message" placeholder="Skriv ditt meddelande"></textarea>
            </p>
          </div>

          <div class="col-xs-12" data-ng-show="!success">
            <div class="center-block">
              <div class="recaptcha" data-on-update-token="updateToken(token)" data-sitekey="6LeXfgMTAAAAAK1VkZQOXxkgIZgrkmFeSi0YkWoB" data-theme="dark"></div>
              <div class="margin-top">
                <button type="button" class="btn btn-lg btn-success" data-ng-click="send(sendmail)" data-ng-disabled="!token">Skicka meddelande</button>
              </div>
            </div>
          </div>

          <div class="col-xs-12 ng-hide" data-ng-show="success">
            <div class="alert alert-success alert-dismissable">
              <strong>Meddelande skickat</strong> swoosh ...
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>