<footer class="footer clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">{{ page.date }}</div>
      <div class="col-xs-10 text-right">
        <a href="//github.com/acreations"><i class="fa fa-github-square fa-3x"></i></a>
        <a href="//instagram.com/_aaronwong_"><i class="fa fa-instagram fa-3x"></i></a>
        <a href="//plus.google.com/u/0/107045348594778262415"><i class="fa fa-google-plus-square fa-3x"></i></a>
        <a href="//linkedin.com/in/acreations" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
        <a href="//twitter.com/a_creations"><i class="fa fa-twitter-square fa-3x"></i></a>
      </div>
    </div>
  </div>
</footer>